.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.two-box{
  display: flex;
  flex-direction: column;
  gap:15px;
  flex: 1;
}
.three-box{
  display: flex;
  gap:15px;
  flex: 2;
}
.four-box{
  display: flex;
  flex-direction: column;
  gap:15px;
  flex: 2;
}
.five-box{
  display: flex;
  gap:15px;
  flex: 2;
}
.six-box{
  display: flex;
  flex-direction: column;
  gap:15px;
  flex: 2;
}

.sunny-box{
  flex: 2;
}
.sky-box{
  flex: 2;
}
.rose-box{
  flex: 2;
}
.mint-box{
    flex: 2;
}
