<div class="container">
  <div class="six-box">
    <app-indigo></app-indigo>
    <div class="five-box">
      <div class="four-box">
        <app-purple></app-purple>
        <div class="three-box">
         <div class="sky-box"> <app-sky></app-sky></div>
          <div class="rose-box"> <app-rose></app-rose></div>
          <div class="sunny-box"> <app-sunny></app-sunny></div>
        </div>
      </div>
      <div class="mint-box"> <app-mint></app-mint></div>
    </div>
  </div>
  <div class="two-box">
    <app-blue></app-blue>
    <app-red></app-red>
  </div>
</div>
